@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #8f8fab !important;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.772);

  line-height: 35px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: rgb(255, 56, 56);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section,
footer {
  padding: 60px 0px;
}

/* =========== custom scroll-bar ========= */

::-webkit-scrollbar {
  width: 10px;
  background: #343444;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: linear-gradient(-45deg, #e250e5, #3037ff, #fafafa, #4b50e6);
}


/* ...and then apply it: */



@keyframes slide-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}



@keyframes slide-right {
  from {
    transform: translateX(+100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale-up {
  0%{
    scale: 1;
  }
 
  100%{
    scale: 1.1;

  }
}

.slide-right {
  animation: slide-right 1000ms;
}

.slide-left {
  animation: slide-left 1000ms;
}
.fade-in{
  animation: fade-in 1000ms;
}

.scale-up:hover{
  animation: scale-up 1s linear  infinite alternate;

}